<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "TauBlog", root_url, class: "navbar-brand" %>
    </div>
  </div>
</nav>